@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style-type: none;
}

body{
    font-family: "Poppins", sans-serif;
}

/*---------------home Css ---------------------*/
header{
    height: 100vh;
    padding: 50px;
    background-image: url(plants/backgroundheader.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg{
    background-color: rgba(0, 0, 0, 0.336);
    height:fit-content;
    border-radius: 20px;
}

.head{
    display: flex;
    justify-content: space-between;
}

.logo img{
    position: relative;
    top: -30%;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.navlist{
    position: relative;
    left: 15%;
    display: flex;
    width: 50%;
}

.navlist li{
    padding: 10px;
    background-color: rgba(47, 241, 47, 0.918);
    height: 6.5vh;
    border-right: 1px solid rgba(4, 119, 4, 0.295);
    border-left: 1px solid rgba(4, 119, 4, 0.39);
    border-radius: 3px;
}

.navlist li a{
    color: white;
    font-weight: 600;
}
.searchbar{
    position: relative;
    top: 1.7%;
    margin-top: .5%;
}
.searchbar span{
    padding: 7px;
    cursor: pointer;
    background-color: rgba(47, 241, 47, 0.918);
    border-radius: 10px;
    color: white;
}

.searchbar input{
    height: 5vh;
    width: 30vh;
    border-radius: 10px;
}

input:focus{
    box-shadow: 0 0 .5rem rgba(47, 241, 47, 0.918);
    outline: 1px solid rgba(47, 241, 47, 0.918);
}

.navlist li:hover{
    background-color:rgba(47, 241, 47, 0.671);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    margin-left: 14%;
}

.plant-container img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 8px solid white;
}

.spraying-type p,h1{
    width: 70%;
    color: white;
}

.btn{
    margin-top: 2%;
    display: flex;
    width: 320px;
    height: 45px;
}

.btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: rgba(47, 241, 47, 0.918);
    color: white;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .8s;
    box-shadow: 0 0 .1rem rgba(47, 241, 47, 0.918);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    border: 2px solid rgba(47, 241, 47, 0.918);
}

a:hover{
    color: rgba(47, 241, 47, 0.918);
}

.btn a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .4s;
}

.btn a:hover::before{
    width: 100%;
}

/*--------------CSS presenting----------------*/
.contenu{
    display: flex;
    height: 30vh;
    justify-content: center;
    align-items: center;
}

.bordure{
    display: flex;
    background-image: linear-gradient(180deg, #3F3F3F 0%, #000000 100%);
    border-radius: 100px 100px 100px 100px;
    width: 95%;
    height: 20vh;
    background-color: black;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(47, 241, 47, 0.918);
    box-shadow: 0px 0px 10px 1px rgb(47, 241, 47) inset;
}

.elements{
    display: flex;
    align-items: center;
    margin: auto;
}

.contenu .image img{
    position: relative;
    right: 20%;
    width: 90px;
    height: 90px;
    border-radius: 100%;
}

.contenu .des-cont{
    position: relative;
    font-size: 2.6rem;
    color: white;
    font-weight: 700;
    left: 2%;
}

.border{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    width: 50%;
    border: 1px solid rgba(47, 241, 47, 0.918);
    box-shadow: 0px 0px 10px 1px rgb(47, 241, 47) inset;
    border-radius: 20px;
}

.align{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-align{
    padding: 30px;
}

.sub-sub-align{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.prototype_container img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: 3px solid rgba(47, 241, 47, 0.918);
}

.prototype_name{
    margin-top: 3%;
    text-transform: uppercase;
    border-radius: 100px 100px 100px 100px;
    border: 1px solid rgba(0, 0, 0, 0.253);
    padding: 10px;
    background-color: rgba(47, 241, 47, 0.918);
    font-weight: 700;
    font-size: 1.2rem;
}

.prototype_name a{
    color: white;
}

.sub-align .about{
    font-size: 100%;
}

.sub-align .btn{
    position: relative;
    left: 38%;
}

.out .prix{
    color: rgba(47, 241, 47, 0.918);
    font-weight: 600;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 1.3rem;
}